<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Speak Letter (QWERTY)</string>
	<key>KeyDownMapping</key>
	<array>
		<string>A.mp3</string>
		<string>S.mp3</string>
		<string>D.mp3</string>
		<string>F.mp3</string>
		<string>H.mp3</string>
		<string>G.mp3</string>
		<string>Z.mp3</string>
		<string>X.mp3</string>
		<string>C.mp3</string>
		<string>V.mp3</string>
		<string>What.mp3</string>
		<string>B.mp3</string>
		<string>Q.mp3</string>
		<string>W.mp3</string>
		<string>E.mp3</string>
		<string>R.mp3</string>
		<string>Y.mp3</string>
		<string>T.mp3</string>
		<string>1.mp3</string>
		<string>2.mp3</string>
		<string>3.mp3</string>
		<string>4.mp3</string>
		<string>6.mp3</string>
		<string>5.mp3</string>
		<string>Equal.mp3</string>
		<string>9.mp3</string>
		<string>7.mp3</string>
		<string>Dash.mp3</string>
		<string>8.mp3</string>
		<string>0.mp3</string>
		<string>RightBracket.mp3</string>
		<string>O.mp3</string>
		<string>U.mp3</string>
		<string>LeftBracket.mp3</string>
		<string>I.mp3</string>
		<string>P.mp3</string>
		<string>Return.mp3</string>
		<string>L.mp3</string>
		<string>J.mp3</string>
		<string>Apostrophe.mp3</string>
		<string>K.mp3</string>
		<string>Semicolon.mp3</string>
		<string>BackSlash.mp3</string>
		<string>Comma.mp3</string>
		<string>Slash.mp3</string>
		<string>N.mp3</string>
		<string>M.mp3</string>
		<string>Period.mp3</string>
		<string>Tab.mp3</string>
		<string>Space.mp3</string>
		<string>GraveAccent.mp3</string>
		<string>Delete.mp3</string>
		<string>What.mp3</string>
		<string>Esc.mp3</string>
		<string>Command.mp3</string>
		<string>Command.mp3</string>
		<string>Shift.mp3</string>
		<string>CapsLock.mp3</string>
		<string>Option.mp3</string>
		<string>Control.mp3</string>
		<string>Shift.mp3</string>
		<string>Option.mp3</string>
		<string>Control.mp3</string>
		<string>Function.mp3</string>
		<string>What.mp3</string>
		<string>Point.mp3</string>
		<string>What.mp3</string>
		<string>Multiply.mp3</string>
		<string>What.mp3</string>
		<string>Plus.mp3</string>
		<string>What.mp3</string>
		<string>Clear.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>Divide.mp3</string>
		<string>Enter.mp3</string>
		<string>What.mp3</string>
		<string>Minus.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>Equal.mp3</string>
		<string>0.mp3</string>
		<string>1.mp3</string>
		<string>2.mp3</string>
		<string>3.mp3</string>
		<string>4.mp3</string>
		<string>5.mp3</string>
		<string>6.mp3</string>
		<string>7.mp3</string>
		<string>What.mp3</string>
		<string>8.mp3</string>
		<string>9.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>What.mp3</string>
		<string>Home.mp3</string>
		<string>PageUp.mp3</string>
		<string>Delete.mp3</string>
		<string>What.mp3</string>
		<string>End.mp3</string>
		<string>What.mp3</string>
		<string>PageDown.mp3</string>
		<string>What.mp3</string>
		<string>Left.mp3</string>
		<string>Right.mp3</string>
		<string>Down.mp3</string>
		<string>Up.mp3</string>
		<string>What.mp3</string>
	</array>
	<key>KeyUpMapping</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
