<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Tunak Tunak Tun</string>
	<key>KeyDownMapping</key>
	<array>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>da.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>da.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
	</array>
	<key>KeyUpMapping</key>
	<array>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>tu.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>da.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>da.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
		<string>du.aif</string>
	</array>
</dict>
</plist>
