<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Mac 512K Keyboard</string>
	<key>KeyDownMapping</key>
	<array>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>returndown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>spacedown.aif</string>
		<string>commanddown.aif</string>
		<string>keydown.aif</string>
		<string>commanddown.aif</string>
		<string>keydown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>commanddown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
		<string>keydown.aif</string>
	</array>
	<key>KeyUpMapping</key>
	<array>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>returnup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>spaceup.aif</string>
		<string>commandup.aif</string>
		<string>keyup.aif</string>
		<string>commandup.aif</string>
		<string>keyup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>commandup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
		<string>keyup.aif</string>
	</array>
</dict>
</plist>
